@import "src/assets/scss/variables";

nav {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
}

ul {
  list-style: none;
  display: flex;
}

li + li {
  margin-left: 16px;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $red;
  }

  &:focus {
    outline: solid 2px red;
  }
}
