<article>
  <h3 id="title">This is the title</h3>
  <!--  <p class="paragraph">Lorem ipsum dolor sit amet.</p>-->
  <p>Lorem ipsum dolor sit amet</p>
  <!--  <p>-->
  <!--    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, porro!-->
  <!--  </p>-->
  <!--  <p>-->
  <!--    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, porro!-->
  <!--  </p>-->
  <!--  <p>-->
  <!--    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, porro!-->
  <!--  </p>-->
</article>
<app-navbar></app-navbar>
<app-grid></app-grid>
<router-outlet></router-outlet>
