<div class="container">
  <div class="grid-item">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
      deleniti dignissimos et ex nostrum officia.
    </p>
  </div>
  <div class="grid-item">
    <p>
      Cum deserunt impedit iure maxime nam natus quod sint! Corporis ducimus in
      labore nobis numquam?
    </p>
  </div>
  <div class="grid-item">
    <p>
      Consectetur cumque expedita id libero quibusdam. Dolores excepturi itaque
      minima non quos repellendus voluptatem! Laudantium.
    </p>
  </div>
  <div class="grid-item">
    <p>
      Consectetur cumque expedita id libero quibusdam. Dolores excepturi itaque
      minima non quos repellendus voluptatem! Laudantium.
    </p>
  </div>
  <div class="grid-item">
    <p>
      Consectetur cumque expedita id libero quibusdam. Dolores excepturi itaque
      minima non quos repellendus voluptatem! Laudantium.
    </p>
  </div>
  <div class="grid-item">
    <p>
      Consectetur cumque expedita id libero quibusdam. Dolores excepturi itaque
      minima non quos repellendus voluptatem! Laudantium.
    </p>
  </div>
</div>

<div>Otro div</div>
