.container {
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 24px;
}

.grid-item {
  font-size: 18px;
  border: solid 1px #ccc;
  line-height: 2rem;
  color: red;
  p {
    text-decoration: line-through;
  }
}
